img {
  width: 70%;
  margin: 10% 15% -5% 15%;
}

.sparkley {

  background: lighten( $buttonBackground , 10% );
  color: $buttonColor;
  border: none;

  padding: 16px 36px;
  font-weight: normal;

  border-radius: 3px;
  transition: all 0.25s ease;

  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
}


